<section class="parcours">
    <div class="container">
        <h2 class="title">Mon Parcours</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline7">
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fab fa-angular"></i></div>
                        <span class="year">2019</span>
                        <div class="timeline-content">
                            <h5 class="title">Stage développeuse Angular-Java chez Andrice</h5>
                            <p class="description">
                                Au cours d'un stage de 3 mois, j'ai été intégrée dans une 
                                équipe de 6 développeurs en tant que développeuse Angular-Java pour l'application Andrice-Brain.
                                L’application permet la gestion du personnel et est utilisée 
                                par les salariés qui sont au siège : 
                                RH, Business Managers et chargé(e)s de recrutement. 
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fab fa-angular"></i></div>
                        <span class="year">2018</span>
                        <div class="timeline-content">
                            <h5 class="title">Stage développeuse Angular chez APAVE</h5>
                            <p class="description">
                                Au cours d'un stage de 3 mois, j'ai été intégrée au projet STSI dans une 
                                équipe de 5 développeurs.J'ai travaillé sur 
                                le monitoring de l'infra distrib
                                avec la création d'un outil de gestion
                                des channels et sur l'IHM d'un moteur de règle 
                                en Angular 5.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fas fa-laptop"></i></div>
                        <span class="year">2017-2020</span>
                        <div class="timeline-content">
                            <h5 class="title">Bachelor Informatique Ynov Campus </h5>
                            <p class="description">
                                Actuellement en deuxième année de bachelor, préférant le développement au réseau,
                                je souhaite m'orienter dans le développement de logiciel
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fas fa-user-graduate"></i></div>
                        <span class="year">2017</span>
                        <div class="timeline-content">
                            <h5 class="title">Diplôme du Baccalauréat</h5>
                            <p class="description">
                                Bac scientifique option science 
                                de l'ingénieur avec mention bien 
                                et mention européenne 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
