.card-contact .card-header .card-title {
    color: #66615B;
    margin-top: 0px;
    padding-bottom: 25px;
    border-bottom: 1px solid #DDDDDD;
  }
  
  .card-contact .card-body .card-icon {
    float: left;
    margin-top: 24px;
    margin-right: 10px;
    border: 0;
  }
  
  .card-contact .card-body .card-icon i {
    font-size: 30px;
    padding: 25px;
    width: 50px;
    border: 0;
    border-radius: 50%;
    height: 110px;
  }

  
.contact-form {
    margin-top: 30px;
  }
  
  .contact-form label {
    margin-top: 15px;
  }
  
  .contact-form .btn {
    margin-top: 30px;
  }
  
  .section-contactus {
    padding-bottom: 0;
  }
  