
<div class="container">
    <div class="section">
            <h2 class="title">Mes Compétences</h2>
            <div class="tool-grid">
                <div class="skills">
                    <div class="img-skills">
                        <img src="assets/img/java.png">
                    </div>
                    <div class="text-skills">Java</div>
                </div>
                <div class="skills">
                    <div class="img-skills">
                        <img src="assets/img/csharp.png">
                    </div>
                    <div class="text-skills">C#</div>
                </div>
                <div class="skills">
                        <div class="img-skills">
                            <img src="assets/img/angular.png">
                        </div>
                        <div class="text-skills">Angular</div>
                </div> 
            </div>
            <div class="tool-grid">  
                <div class="skills">
                        <div class="img-skills">
                            <img src="assets/img/html.png">
                        </div>
                        <div class="text-skills">HTML</div>
                </div>
                <div class="skills">
                        <div class="img-skills">
                            <img src="assets/img/css.png">
                        </div>
                        <div class="text-skills">Css</div>
                </div> 
                <div class="skills">
                        <div class="img-skills">
                            <img src="assets/img/js.png">
                        </div>
                        <div class="text-skills">JS</div>
                </div>    
        
            </div>
            <div class="tool-grid">  
                    <div class="skills">
                            <div class="img-skills">
                                <img src="assets/img/c.png">
                            </div>
                            <div class="text-skills">C</div>
                    </div>    
                    <div class="skills">
                            <div class="img-skills">
                                <img src="assets/img/php.png">
                            </div>
                            <div class="text-skills">PHP</div>
                    </div>  
                    <div class="skills">
                            <div class="img-skills">
                                <img src="assets/img/mysql.png">
                            </div>
                            <div class="text-skills">MySQL</div>
                    </div>      
            </div>
    </div>
  </div>