<div class="container">

  <div class="card text-center">
    <div class="card-header">
      Créer un article
    </div>
    <div class="card-body">
      <h5 class="card-title">Création</h5>
      <form  [formGroup]="fb" (ngSubmit)="onSubmitPost()">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label">Titre</label>
                <input type="text" name="title" class="form-control" placeholder="Titre" formControlName="title">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label">Image</label>
                <input type="file" name="file" (change)="chooseFiles($event)" />
              </div>
            </div>
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Description</label>
            <textarea name="description" class="form-control" id="message" rows="3" formControlName="description" ></textarea>
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Contenu</label>
             <editor name=content  formControlName="content" [init]=tinymceInit></editor>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary" >Envoyer</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  
</div>
