<div class="blog-5">
  <div class="container">
    <h2 class="title text-center">Mon portfolio</h2>
    <div class="row">
      <div class="col-md-7">
        <div class="card" data-background="image" style="background-image: url('./assets/img/sections/uriel-soberanes.jpg')">
          <div class="card-body">
            <h6 class="card-category">
              <i class="fa fa-newspaper-o"></i> Lifestyle</h6>
            <a href="#pablo">
              <h3 class="card-title">Twenty-Something Travel - Virtual Wayfarer</h3>
            </a>
            <p class="card-description">
              As happens in most of these hearings so far, that argument led to a back-and-forth between Uber and Waymo’s lawyers over the pre-trial discovery...
            </p>
            <div class="card-footer">
              <div class="author">
                <a href="#pablo">
                  <img src="./assets/img/faces/joe-gardner-2.jpg" alt="..." class="avatar img-raised">
                  <span>Lynne Barrett</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card" data-background="image" style="background-image: url('./assets/img/sections/forest-bg.jpg')">
          <div class="card-body">
            <h6 class="card-category">
              <i class="fa fa-newspaper-o"></i> Media</h6>
            <a href="#pablo">
              <h3 class="card-title">The aesthetic quality of a product</h3>
            </a>
            <p class="card-description">
              It clarifies the product’s structure. Better still, it can make the product clearly express its function by making use of the user’s intuition.
            </p>
            <div class="card-footer">
              <div class="author">
                <a href="#pablo">
                  <img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..." class="avatar img-raised">
                  <span>Eric J Barnes</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card" data-background="image" style="background-image: url('./assets/img/sections/pavel-kosov.jpg')">
          <div class="card-body">
            <h6 class="card-category">
              <i class="fa fa-newspaper-o"></i>Design</h6>
            <a href="#pablo">
              <h3 class="card-title">“Good Design”</h3>
            </a>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Jay-z...
            </p>
            <div class="card-footer">
              <div class="author">
                <a href="#pablo">
                  <img src="./assets/img/faces/kaci-baum-2.jpg" alt="..." class="avatar img-raised">
                  <span>Patricia Beatty</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" data-background="image" style="background-image: url('./assets/img/sections/ilya-yakover.jpg')">
          <div class="card-body">
            <h6 class="card-category">
              <i class="fa fa-newspaper-o"></i> Development</h6>
            <a href="#pablo">
              <h3 class="card-title">In need of a good development</h3>
            </a>
            <p class="card-description">
              Speed up your development time or get inspired with the large number of example pages. You can jump start your development with our pre-built example pages.
            </p>
            <div class="card-footer">
              <div class="author">
                <a href="#pablo">
                  <img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                  <span>Robert Brandon</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" data-background="image" style="background-image: url('./assets/img/sections/vincent-versluis.jpg')">
          <div class="card-body">
            <h6 class="card-category">
              <i class="fa fa-newspaper-o"></i> Technology</h6>
            <a href="#pablo">
              <h3 class="card-title">A Little Adrift</h3>
            </a>
            <p class="card-description">
              But from the perspective of founders, there’s bound to be some confusion. In an ideal world we will see a meeting of the minds
            </p>
            <div class="card-footer">
              <div class="author">
                <a href="#pablo">
                  <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                  <span>Ayo Michael</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>