<div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
                <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg7.jpg') ;">
                </div>
                <div class="container">
                    <div class="content-center">
                        <div class="photo-container">
                            <img src="assets/img/faces/Adeline.jpg" alt="">
                        </div>
                        <h3 class="title">{{name}}</h3>
                        <p class="category">{{description}}</p>
                        <div class="content">
                            <div class="social-description">
                                <h2>19</h2>
                                <p>Ans</p>
                            </div>
                            <div class="social-description">
                                <h2>26</h2>
                                <p>Comments</p>
                            </div>
                            <div class="social-description">
                                <h2>48</h2>
                                <p>Bookmarks</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="GitHub">
                    <i class="fa fa-github"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Suis moi sur Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Suis moi sur Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
            </div>
            <h3 class="title">A propos de moi</h3>
          <h5 class="description">Actuellement en deuxième année de Bachelor en Informatique (Architecte Informatique et systèmes d'information) à Ingésup sur le campus Ynov à Lyon, je suis en quête d'expériences professionnelles en développement informatique particulièrement en développement de logiciel.</h5>
            <div class="card-deck">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                            <div class="welcome_text">
                                    <h4>A propos de moi</h4>
                                    <p>Actuellement en deuxième année de Bachelor en Informatique (Architecte Informatique et systèmes d'information) à Ingésup sur le campus Ynov à Lyon, je suis en quête d'expériences professionnelles en développement informatique particulièrement en développement de logiciel.
                                        
                                    </p>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="wel_item">
                                                <i class="lnr lnr-database"></i>
                                                <h4>19 ans</h4>
                                                <p>Math</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="wel_item">
                                                <i class="lnr lnr-book"></i>
                                                <h4>1465</h4>
                                                <p>Sportive</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="wel_item">
                                                <i class="lnr lnr-users"></i>
                                                <h4>3965</h4>
                                                <p>Total Volunteers</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                 
                </div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                            <div class="tools_expert">
                                    <h3>Mes compétences</h3>
                                    <div class="skill_main">
                                        <div class="skill_item">
                                            <h4>After Effects <span class="counter">85</span>%</h4>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill_item">
                                            <h4>Photoshop <span class="counter">90</span>%</h4>
                                            <div class="progress">
                                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill_item">
                                            <h4>Illustrator <span class="counter">70</span>%</h4>
                                            <div class="progress">
                                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill_item">
                                            <h4>Sublime <span class="counter">95</span>%</h4>
                                            <div class="progress">
                                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill_item">
                                            <h4>Sketch <span class="counter">75</span>%</h4>
                                            <div class="progress">
                                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

