<div class="wrapper">
    <div class="page-header page-header-small" >
            <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/sun.jpg') ;">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="photo-container">
                        <img src="assets/img/faces/Adeline.jpg" alt="Adeline Delbecq">
                    </div>
                    <h3 class="title">{{name}}</h3>
                    <p class="category">{{description}}</p>
                </div>
            </div>
        </div>
      <div class="container">
          <div class="section">
            <div class="button-container">
                <a target="_blank" href="https://github.com/redwappin" rel="tooltip" title="GitHub">
                  <button  class="btn btn-default btn-round btn-lg btn-icon">
                      <i class="fab fa-github fa-2x"></i>
                  </button>  
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/adeline-delbecq-ab03a5150/" rel="tooltip" title="Suis moi sur linkedin">
                  <button  class="btn btn-default btn-round btn-lg btn-icon">
                      <i class="fab fa-linkedin fa-2x"></i>
                  </button>  
                </a>
                <a  href="assets/img/cv.pdf" download="Adeline Delbecq CV" title="Télécharge mon cv ici">
                <button  class="btn btn-default btn-round btn-lg btn-icon">
                    <i class="fa fa-download fa-2x"></i>
                </button> 
                </a>
            </div>
            <div class="">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                      <h2 class="title">A propos de moi</h2>
                      <h5 class="description">Actuellement en deuxième année de Bachelor en Informatique (Architecte Informatique et systèmes d'information) à Ingésup sur le campus Ynov à Lyon, je suis en quête d'expériences professionnelles en développement informatique particulièrement en développement de logiciel.</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="info">
                        <div class="icon icon-danger">
                          <i class="nc-icon nc-user-run"></i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Sport</h4>
                          <p class="description">Je pratique de la musculation, j'aime également beaucoup skier et l'athlétisme</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="info">
                        <div class="icon icon-danger">
                          <i class="nc-icon nc-world-2"></i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Langues</h4>
                          <p>Français courant et bon niveau en anglais grâce à un voyage de trois mois aux Etats-Unis(Wisconsin)</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="info">
                        <div class="icon icon-danger">
                          <i class="nc-icon nc-favourite-28"></i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Passions</h4>
                          <p>Outre le sport, j'aime lire, écrire, les maths et jouer aux jeux vidéos</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="info">
                        <div class="icon icon-danger">
                          <i class="nc-icon nc-single-02"></i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Caractère</h4>
                          <p>Franche, sérieuse et déterminée sont les mots qui me définissent le mieux</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
</div>

