.post-card{
    display: flex;
    flex-direction: row;
    height: 30vw;
    background-color: white;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10%;
}

.date {
    text-align: right;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.trash{
    flex:0;
    margin-left: 5px;
}

.edit{
    flex:0;
}

.post-card-header{
    display: flex;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bfbbb7;
    background-color: #d6d1cc;
    height: 8%;
}

.post-card-body{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.post-card-footer{
    align-items: center;
}


.image{
    width: 50%;
    object-fit: contain;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

}
.subject{
    width: 50%;
}
