<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
                <div class="container">
                        <div class="content-center">
                            <div class="photo-container">
                                <img src="assets/img/ryan.jpg" alt="">
                            </div>
                            <h3 class="title">{{title}}</h3>
                            <p class="category">Photographer</p>
                            <div class="content">
                                <div class="social-description">
                                    <h2>26</h2>
                                    <p>Comments</p>
                                </div>
                                <div class="social-description">
                                    <h2>26</h2>
                                    <p>Comments</p>
                                </div>
                                <div class="social-description">
                                    <h2>48</h2>
                                    <p>Bookmarks</p>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
        <app-profile></app-profile>
        <app-timeline></app-timeline>
        <app-blog></app-blog>
        <app-contact></app-contact>           
    </div>
</div>
